{% extends "base.html" %}
{% block title %}Add{% endblock %}
{% block content %}
    <form method="post">
        {% csrf_token %}
        {{ form.student }}
        {{ form.instructor }}
        <input type="datetime-local" name="{{ form.date.name }}" value="{{ form.date.value|default:'' }}" required>
        {{ form.place }}
        
        <button type="submit">Enregistrer</button>
    </form>
    <a class="btn btn-dark" href="{% url 'Instructor:homeInstructor' %}">Retour au planning</a>
    {% endblock %}