{% extends "base.html" %}
{% block content %}
<div>
  {% if plannings %}
    <h1>Planning Instructor</h1>
    
    <table>
        <tr>
          <th>Student</th>
          <th>Date-hour</th>
          <th>Place</th>
        </tr>
    {% for planning in plannings %}
        <tr>
          <td><a href="{% url 'Instructor:studentProfile' planning.student.id %}">{{ planning.student }}</a></td>
          <td>{{ planning.date|date:"d-m-Y" }}</td>
          <td>{{ planning.date|date:"H:i" }}</td>
          <td>{{ planning.place }}</td>
        </tr>
    {% endfor %}
      </table>
      {% else %}
      <p>Vous n'avez pas encore de rendez-vous</p>
      {% endif %}
    <button><a href="{% url 'Instructor:addPlanningInstructor' %}">Ajouter un RDV</a></button>
    <button><a href="{% url 'Instructor:detailInstructor' %}">Mon profil</a></button>  
</div>

{% endblock %}