{% extends "base.html" %}
{% block content %}
<div>
    <h1>Planning Instructor</h1>
    <table>
        <tr>
          <th>Student</th>
          <th>Instructor</th>
          <th>Date-hour</th>
          <th>Place</th>
        </tr>
    {% for planning in plannings %}
        <tr>
          <td><a href="{% url 'Instructor:student_profile' planning.student.id %}">{{ planning.student }}</a></td>
          <td><a href="{% url 'Instructor:instructor_profile' planning.instructor.id %}">{{ planning.instructor }}</a></td>
          <td>{{ planning.date|date:"d-m-Y" }}</td>
          <td>{{ planning.date|date:"H:i" }}</td>
          <td>{{ planning.place }}</td>
        </tr>
    {% endfor %}
      </table>
    <button><a href="{% url 'Instructor:new_entry' %}">Ajouter un RDV</a></button>  
</div>

{% endblock %}